[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/--force"]
	path = zsh/--force
	url = https://github.com/HerrNieschnell/zsh-history-substring-search.git
