[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/HerrNieschnell/zsh-history-substring-search.git
