<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="ColoredConsole"
      name="ColoredConsole"
      detectConsoleAvailable="false"
      layout="${message}${onexception:inner=${exception:format=toString,Data}}"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColoredConsole" >
      <filters>
        <when
          condition="not contains('${message}', 'Response received')"
          action="Ignore"
        />
      </filters>
    </logger>
  </rules>
</nlog>
