snippet au "autocite"
\autocite[${1}]{${2}}${0}
endsnippet

snippet aus "autocites"
\autocites[${1}]{${2}}${0}
endsnippet

snippet tc "textcite"
\textcite[${1}]{${2}}${0}
endsnippet

snippet tcs "textcites"
\textcites[${1}]{${2}}${0}
endsnippet

snippet ss "inline math mode"
\($1\)$0
endsnippet

snippet SS "display math mode"
\[$1\]$0
endsnippet

snippet _ "subscript" i
_{$1}$0
endsnippet

snippet ^ "superscript" i
^{$1}$0
endsnippet

# vim: set ft=snippets:
