<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="ColoredConsole"
      name="ColoredConsole"
      detectConsoleAvailable="false"
      layout="[${date:format=HH\:mm\:ss}|${level:uppercase=true}] ${logger}: ${message}${onexception:inner=${exception:format=toString,Data}}"
    />

    <target
      xsi:type="File"
      name="File"
      deleteOldFileOnStartup="false"
      fileName="../${date:format=yyyyMMdd}-ASF_log.txt"
      layout="[${date:format=HH\:mm\:ss}|${level:uppercase=true}] ${logger}: ${message}${onexception:inner=${exception:format=toString,Data}}"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColoredConsole" />
    <logger name="*" minlevel="Info" writeTo="File">
      <filters>
        <when condition="contains('${message}','!status')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
